<div class="container" style="margin-top: 100px;">
	<!-- Navigation Bar Starts -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<h2 class="nav-brand">Report Home</h2>
			</div>
			<ul class="nav navbar-nav">
				<li><h6>Welcome Admin</h6></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="#!adminHome" class="btn btn-info btn-sm"
					role="button">Back</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
						Logout</a></li>
			</ul>
		</div>
	</nav>
	<!-- Navigation Bar Starts -->
	<table class="table">
		<thead>
		</thead>
		<tbody>
			<tr>
				<td><a href="#!dashboard" class="btn btn-info btn-lg"
					role="button" data-ng-click="getAllProjects()"><span
						class="glyphicon glyphicon-briefcase	
					"></span> Project
						Reports</a></td>
			</tr>
			<tr>
				<td><a href="#!userReport" class="btn btn-info btn-lg"
					role="button"><span class="glyphicon glyphicon-wrench	
					"></span>
						User Reports</a></td>
			<tr>
				<td><a href="#!scheduleReport" class="btn btn-info btn-lg"
					role="button" data-ng-click="getAllProjects()"><span
						class="glyphicon glyphicon-tasks	
					"></span> Schedule Reports</a></td>
			</tr>
		</tbody>
	</table>
</div>