<div style="margin-top: 100px;">
	<!-- Navigation Bar Starts -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<h2 class="nav-brand">Admin Home</h2>
			</div>
			<ul class="nav navbar-nav">
				<li><h6>Welcome Admin</h6></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="#!adminHome" class="btn btn-info btn-sm"
					role="button">Back</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
						Logout</a></li>
			</ul>
		</div>
	</nav>
	<!-- Slot Home  -->
	<div>
		<table class="table">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td>
						<!-- Button trigger modal for create Slot --> <a
						class="btn btn-info" href="#!slotCreationProjectSelect">Schedule
							Creation</a>
					</td>
				</tr>
				<tr>
					<td>
						<!-- Button trigger modal for Modify Slot --> <a
						class="btn btn-info" href="#!modifySlotProjectSelect">Schedule
							Modification</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>